<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>一单一标制系统</title>
    <link rel="shortcut icon" href=/STS/favicon.ico>
    <link href=/STS/static/css/app.0233b8a08753b4632777a258eb48b17f.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/STS/static/js/manifest.c09d5a6b1a12494ded96.js></script>
<script type=text/javascript src=/STS/static/js/vendor.def22dc1eaae13a0f9a7.js></script>
<script type=text/javascript src=/STS/static/js/app.96514f019ffabc343850.js></script>
</body>
</html>