<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.jzt56.singleticketsystem.mapper.OrderMapper">

    <resultMap id="baseMap" type="cn.jzt56.singleticketsystem.entity.Order">
        <id column="Order_Id" property="orderId" jdbcType="CHAR"/>
        <result column="User_Id" property="userId" jdbcType="CHAR"/>
        <result column="Consignor" property="consignor" jdbcType="VARCHAR"/>
        <result column="PhoneNum_Consignor" property="phoneNumConsignor" jdbcType="VARCHAR"/>
        <result column="Consignee" property="consignee" jdbcType="VARCHAR"/>
        <result column="PhoneNum_Consignee" property="phoneNumConsignee" jdbcType="VARCHAR"/>
        <result column="StartArea" property="startArea" jdbcType="VARCHAR"/>
        <result column="StartArea_mx" property="startAreaMx" jdbcType="VARCHAR"/>
        <result column="EndArea" property="endArea" jdbcType="VARCHAR"/>
        <result column="EndArea_mx" property="endAreaMx" jdbcType="VARCHAR"/>
        <result column="Goods_Type" property="goodsType" jdbcType="VARCHAR"/>
        <result column="Goods_Count" property="goodsCount" jdbcType="VARCHAR"/>
        <result column="Volume" property="volume" jdbcType="DECIMAL"/>
        <result column="Weight" property="weight" jdbcType="DECIMAL"/>
        <result column="Delivery_Time" property="deliveryTime" javaType="String"/>
        <result column="Receiving_Time" property="receivingTime" javaType="String"/>
        <result column="Transport_Prices" property="transportPrices" jdbcType="DECIMAL"/>
        <result column="Status" property="status" jdbcType="VARCHAR"/>
        <result column="Created_Time" property="createdTime" javaType="String"/>
        <result column="Updated_Time" property="updatedTime" javaType="String"/>
        <result column="Remark" property="remark" jdbcType="VARCHAR"/>
        <result column="Goods_Name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="Signature_Type" property="signatureType" jdbcType="VARCHAR"/>
        <result column="Transport_Type" property="transportType" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 查询所有 -->
    <select id="findAll" resultMap="baseMap">
        SELECT * FROM `order`
    </select>

    <!-- 条件查询 -->
    <select id="findByPage" parameterType="cn.jzt56.singleticketsystem.entity.Order" resultMap="baseMap">
        select Order_Id,User_Id,
        PhoneNum_Consignor,
        Consignor,PhoneNum_Consignee,
        Consignee,
        StartArea,
        StartArea_mx,
        EndArea,EndArea_mx,
        CASE Transport_Type
        when 0 then '冷藏品'
        when 1 then '普通'
        else '其他' END
        Transport_Type,
        Goods_Count,
        Volume,Weight,Delivery_Time,Receiving_Time,Transport_Prices,
        CASE Status
        when 0 then '刚生成'
        when 1 then '已打包'
        when 2 then '配送中'
        when 3 then '已签收'
        when -1 then '作废'
        else '其他' END
        Status,
        DATE_FORMAT(Created_Time,'%Y-%m-%d') Created_Time,
        Updated_Time,Remark,
        Goods_Type,
        Signature_Type,
        Order_Num,task_Id
        FROM `order` WHERE Status!='-1'
        <if test="consignee != null and consignee!=''">
            AND Consignee LIKE CONCAT('%', #{consignee}, '%')
        </if>
        <if test="endArea != null and endArea!=''">
            AND endArea   LIKE CONCAT('%', #{endArea}, '%')
        </if>
        <if test="orderNum != null and orderNum!=''">
            AND Order_Num   LIKE CONCAT('%', #{orderNum}, '%')
        </if>
        <if test="userId != null and userId!=''">
            AND User_Id = #{userId}
        </if>
        <if test="createdTime != null and createdTime!=''">
            AND DATE_FORMAT(Created_Time,'%Y-%m-%d') like CONCAT('%',#{createdTime},'%')
        </if>
        ORDER BY Updated_Time desc
    </select>

    <!-- 根据id查询 -->
    <select id="findById" parameterType="String" resultMap="baseMap">
        SELECT * FROM `order` WHERE Order_Id = #{orderId}
    </select>
    <select id="findByUserId" parameterType="String" resultMap="baseMap">
        SELECT * FROM `order` WHERE User_Id = #{userId} and Status!='-1'
    </select>


    <!-- 添加数据 在线生成订单-->
    <insert id="create" parameterType="cn.jzt56.singleticketsystem.entity.Order">
        INSERT INTO `order`(Order_Id,User_Id,PhoneNum_Consignor,Consignor,phoneNum_Consignee,Consignee,StartArea,StartArea_mx,EndArea,EndArea_mx,Goods_Type,Goods_Count,Volume,Weight,Delivery_Time,Receiving_Time,Transport_Prices,Status,Created_Time,Remark,Transport_Type,Signature_Type,Order_Num,Updated_Time)
        VALUES(#{orderId},#{userId}, #{phoneNumConsignor}, #{consignor}, #{phoneNumConsignee},#{consignee},#{startArea},#{startAreaMx},#{endArea},#{endAreaMx},#{goodsType},#{goodsCount},#{volume},#{weight},#{deliveryTime},#{receivingTime},#{transportPrices},#{status},#{createdTime},#{remark},#{transportType},#{signatureType},#{orderNum},#{updatedTime})
    </insert>

    <!-- 更新数据 添加状态约束和更新时间-文梁伟-->
    <update id="update" parameterType="cn.jzt56.singleticketsystem.entity.Order">
        UPDATE `order`
        <set>
            <if test="phoneNumConsignor != null and phoneNumConsignor!=''">  PhoneNum_Consignor =#{phoneNumConsignor},</if>
            <if test="consignor != null and consignor!=''">          Consignor = #{consignor},</if>
            <if test="phoneNumConsignee != null and consignor!=''"> PhoneNum_Consignee = #{phoneNumConsignee},</if>
            <if test="consignee != null and consignee!=''">          Consignee = #{consignee},</if>
            <if test="startArea != null and startArea!=''">StartArea = #{startArea}, </if>
            <if test="startAreaMx != null and startAreaMx!=''"> StartArea_mx = #{startAreaMx},  </if>
            <if test="endArea != null and endArea!=''"> EndArea = #{endArea},  </if>
            <if test="endAreaMx != null and endAreaMx!=''">EndArea_mx = #{endAreaMx}, </if>
            <if test="goodsType != null and goodsType!=''">Goods_Type = #{goodsType}, </if>
            <if test="goodsCount != null and goodsCount!=''">Goods_Count = #{goodsCount}, </if>
            <if test="weight != null and weight!=''">Weight = #{weight}, </if>
            <if test="volume != null and volume!=''">Volume = #{volume}, </if>
            <if test="transportPrices != null and transportPrices!=''">Transport_Prices = #{transportPrices}, </if>

            <if test="signatureType != null and signatureType!=''">Signature_Type = #{signatureType}, </if>
            <if test="status != null and status!=''">Status = #{status}, </if>
            <if test="remark != null and remark!=''">Remark = #{remark}, </if>
            <if test="deliveryTime != null and deliveryTime!=''">Delivery_Time = #{deliveryTime}, </if>
            <if test="receivingTime!= null and receivingTime!=''">Receiving_Time = #{receivingTime}, </if>
            <if test="updatedTime!= null and updatedTime!=''">Updated_Time = #{updatedTime}</if>
        </set>
        WHERE Order_Id = #{orderId} and Status='0'
    </update>

    <!-- 删除 -->
    <update id="delete" parameterType="String">
        update `order` set Status='-1' WHERE Order_Id = #{id}
    </update>
    <!-- 添加单个删除  文梁伟-->
    <update id="deleteOrder" parameterType="cn.jzt56.singleticketsystem.entity.Order">
        update `order` set Status='-1' WHERE Order_Id = #{orderId} and Status='0'
    </update>

    <!-- 竞价页根据任务单id查询详情 -->
    <select id="getTaskDetailsByBidTaskId"  parameterType="String" resultMap="baseMap">
        SELECT
	CONCAT(StartArea,StartArea_mx) StartArea,CONCAT(EndArea,EndArea_mx) EndArea,Goods_Count,Volume,Weight,
  CASE Transport_Type
		when 0 then '冷藏品'
		when 1 then '普通'
		else '其他' END
	Transport_Type,
  CASE Goods_Type
		when 0 then '中药'
		when 1 then '西药'
		when 2 then '器械'
		when 3 then '生活用品'
		else '其他' END
	Goods_Type,
	TIMESTAMPDIFF(HOUR,Delivery_Time,Receiving_Time) AS Receiving_Time,Remark
FROM `order` o  WHERE  o.task_Id = #{bid_Task_Id}
    </select>

    <!-- 竞价结果页根据任务单id查询详情 -->
    <select id="getResultDetailsByBidTaskId" parameterType="String" resultMap="baseMap">
       SELECT
	Order_Id,
	CASE Goods_Type
		when 0 then '中药'
		when 1 then '西药'
		when 2 then '器械'
		when 3 then '生活用品'
		else '其他' END
	Goods_Type,
	Consignor,CONCAT(StartArea,StartArea_mx) StartArea,PhoneNum_Consignor,
	CASE Transport_Type
		when 0 then '冷藏品'
		when 1 then '普通'
		else '其他' END
	Transport_Type,
	TIMESTAMPDIFF(HOUR,Delivery_Time,Receiving_Time) AS Receiving_Time,
	Goods_Count,Weight,Volume,Consignee,PhoneNum_Consignee,CONCAT(EndArea,EndArea_mx) EndArea,Remark
FROM `order` o WHERE  o.task_Id = #{bid_Task_Id}
    </select>
</mapper>