<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.jzt56.singleticketsystem.mapper.OrderMapper">

    <resultMap id="baseMap" type="cn.jzt56.singleticketsystem.entity.Order">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 查询所有 -->
    <select id="findAll" resultType="cn.jzt56.singleticketsystem.entity.Order">
        SELECT * FROM order
    </select>

    <!-- 条件查询 -->
    <select id="findByPage" parameterType="cn.jzt56.singleticketsystem.entity.Order" resultMap="baseMap">
        SELECT * FROM order WHERE 1=1
        <if test="brand != null">
            AND brand LIKE CONCAT('%', #{brand}, '%')
        </if>
        <if test="title != null">
            AND title LIKE CONCAT('%', #{title}, '%')
        </if>
    </select>

    <!-- 根据id查询 -->
    <select id="findById" parameterType="String" resultMap="baseMap">
        SELECT * FROM tb_goods WHERE id = #{id}
    </select>

    <!-- 添加数据 -->
    <insert id="create" parameterType="cn.jzt56.singleticketsystem.entity.Order">
        INSERT INTO tb_goods(title, price, image, brand)
        VALUES(#{title}, #{price}, #{image}, #{brand})
    </insert>

    <!-- 更新数据 -->
    <update id="update" parameterType="cn.jzt56.singleticketsystem.entity.Order">
        UPDATE tb_goods
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="brand != null">
                brand = #{brand},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="String">
        DELETE FROM order WHERE Order_Id = #{id}
    </delete>

</mapper>